# Анализ данных на Python

## Библиотека `Pandas`
#### <i>Малкова Ксения, Преподаватель ФКН НИУ ВШЭ, kemalkova@hse.ru</i>

### Практика

Работаем с датасетом [Student Alcohol Consumption](https://www.kaggle.com/datasets/uciml/student-alcohol-consumption). Он содержит информацию о потреблении алкоголя студентами в Португалии и был собран для анализа взаимосвязи между социально-экономическими факторами и потреблением алкоголя среди студентов.

**Что к чему:**
1. **`school`**: Школа, в которой учится студент ("GP" — Gabriel Pereira, "MS" — Mousinho da Silveira)
2. **`sex`**: Пол студента ("F" — женский, "M" — мужской)
3. **`age`**: Возраст студента
4. **`address`**: Место проживания ("U" — городской, "R" — сельский)
5. **`famsize`**: Размер семьи ("LE3" — меньше или равно 3 людей в семье, "GT3" — больше 3)
6. **`Pstatus`**: Статус родителей ("T" — живут вместе, "A" — раздельно)
7. **`Medu`**: Уровень образования матери (0 - неизвестно, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)
8. **`Fedu`**: Уровень образования отца (same)
9. **`Mjob`**: Работа матери
10. **`Fjob`**: Работа отца (same)
11. **`traveltime`**: Время на дорогу до школы (1 - <15 мин., 2 - 15-30 мин., 3 - 30 мин. - 1 час, или 4 - >1 часа)
12. **`studytime`**: Время, затрачиваемое на учебу за неделю (1 - <2 часов, 2 - 2-5 часа, 3 - 5-10 часов, или 4 - >10 часов)
13. **`failures`**: Количество заваленных предметов ($n$ если $1 \leq n \leq 3$, и 4, если $n \geq 4$)
14. **`higher`** - Хочет ли получать высшее образование 
15. **`internet`** - Есть ли интернет дома
16. **`romantic`** - Есть ли вторая половинка
17. **`famrel`** - Отношения с семьей (от 1 - очень плохие до 5 - отличные)
18. **`freetime`** - Свободное время вне школы (от 1 - очень мало до 5 - очень много)
19. **`Dalc`** - Частота употребления алкоголя в будние дни (от 1 - очень мало до 5 - очень много)
20. **`Walc`** - Частота употребления алкоголя в выходные дни (от 1 - очень мало до 5 - очень много)
21. **`health`** - Оценка состояния здоровья (от 1 - очень плохое до 5 - очень хорошее)
22. **`absences`** - Количество пропущенных занятий (numeric: from 0 to 93)
23. **`G1*`**: Оценка за первый квартал (от 0 до 20).
24. **`G2`**: Оценка за второй квартал (от 0 до 20).
25. **`G3`**: Оценка за год (от 0 до 20, итоговая оценка).

*В Португалии используется 20-балльная система оценок, где 0 является самым низким баллом, а 20 — самым высоким. Обычно в образовательных учреждениях Португалии оценка 10 считается проходным баллом, а все, что выше, отражает степень успеваемости студента.

### Этап 1. Разминка

0. Считайте датафрейм по этой ссылке: 
https://raw.githubusercontent.com/ksumarshmallow/Data-Analysis-Media-24/main/Seminars/Sem1/data/student-mat.csv

(используйте библиотеку `Pandas`)

In [41]:
# ваш код
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/ksumarshmallow/Data-Analysis-Media-24/main/Seminars/Sem1/data/student-mat.csv")

1. Выведите 10 первых наблюдений

In [42]:
# ваш код
data.head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,no,5,4,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,no,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,no,4,1,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,no,4,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,no,5,5,1,1,5,0,14,15,15

2. Выведите 15 последних наблюдений

In [43]:
# ваш код
data.tail(15)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
380,MS,M,18,U,GT3,T,4,4,teacher,teacher,...,no,3,2,1,4,2,4,15,14,14
381,MS,M,18,R,GT3,T,2,1,other,other,...,yes,4,4,1,3,5,5,7,6,7
382,MS,M,17,U,GT3,T,2,3,other,services,...,no,4,4,1,1,3,2,11,11,10
383,MS,M,19,R,GT3,T,1,1,other,services,...,no,4,3,1,3,5,0,6,5,0
384,MS,M,18,R,GT3,T,4,2,other,other,...,no,5,4,4,3,3,14,6,5,5
385,MS,F,18,R,GT3,T,2,2,at_home,other,...,no,5,3,1,3,4,2,10,9,10
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,yes,4,4,2,2,5,7,6,5,6
387,MS,F,19,R,GT3,T,2,3,services,other,...,no,5,4,1,2,5,0,7,5,0
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,no,4,3,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,5,5,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,5,5,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,no,3,2,3,3,5,5,8,9,9

3. Выведите количество ячеек в датафрейме

In [44]:
# ваш код
data.size

9875

4. Выведите названия столбцов датафрейма

In [17]:
# ваш код
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

5. Выведите общую информацию о датафрейме

In [45]:
# ваш код
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  traveltime  395 non-null    int64
 11  studytime   395 non-null    int64
 12  failures    395 non-null    int64
 13  higher      395 non-null    object
 14  internet    395 non-null    object
 15  romantic    395 non-null    object
 16  famrel      395 non-null    int64
 17  freetime    395 non-null    int64
 18  Dalc        395 non-null    int64
 19  Walc        395 non-null    int64
 20  health      395 non-null    int64
 21  absences    395 non-null    int64
 22  G1          395 non-null    int64
 23  G2          395 non-null    int64
 24  G3          395 non-null    int64
dtypes: int64(15), object(10)
memory usage: 77.3+ KB

### Этап 2. Приступаем к работе

1. Выведите столбец **`age`**

In [46]:
data['age']

0      18
1      17
2      15
3      15
4      16
       ..
390    20
391    17
392    21
393    18
394    19
Name: age, Length: 395, dtype: int64

2. Выведите столбцы **`Medu`** и **`Mjob`**

In [47]:
data[['Medu', 'Mjob']]

     Medu      Mjob
0       4   at_home
1       1   at_home
2       1   at_home
3       4    health
4       3     other
..    ...       ...
390     2  services
391     3  services
392     1     other
393     3  services
394     1     other

[395 rows x 2 columns]

3. Выведите наблюдения со 145 по 189 строку (по всем столбцам)

In [49]:
# ваш код
data.iloc[145:189]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
145,GP,F,15,U,GT3,T,1,1,other,services,...,no,4,4,1,2,5,0,8,11,11
146,GP,F,15,U,GT3,T,3,2,health,services,...,no,3,3,1,1,3,0,6,7,0
147,GP,F,15,U,GT3,T,1,2,at_home,other,...,no,4,3,1,1,5,2,10,11,11
148,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,yes,3,3,2,1,5,0,7,6,0
149,GP,M,15,U,LE3,A,2,1,services,other,...,no,4,5,2,5,5,0,8,9,10
150,GP,M,18,U,LE3,T,1,1,other,other,...,yes,2,3,2,5,4,0,6,5,0
151,GP,M,16,U,LE3,T,2,1,at_home,other,...,yes,4,4,3,5,5,6,12,13,14
152,GP,F,15,R,GT3,T,3,3,services,services,...,yes,4,2,2,3,3,8,10,10,10
153,GP,M,19,U,GT3,T,3,2,services,at_home,...,yes,4,5,1,1,4,0,5,0,0
154,GP,F,17,U,GT3,T,4,4,other,teacher,...,yes,4,2,1,1,4,0,11,11,12
155,GP,M,15,R,GT3,T,2,3,at_home,services,...,no,4,4,1,1,1,2,11,8,8
156,GP,M,17,R,LE3,T,1,2,other,other,...,no,2,2,3,3,5,8,16,12,13
157,GP,F,18,R,GT3,T,1,1,at_home,other,...,no,5,2,1,5,4,6,9,8,10
158,GP,M,16,R,GT3,T,2,2,at_home,other,...,no,4,2,1,2,3,2,17,15,15
159,GP,M,16,U,GT3,T,3,3,other,services,...,yes,4,5,4,4,5,4,10,12,12
160,GP,M,17,R,LE3,T,2,1,at_home,other,...,yes,3,3,2,2,5,0,7,6,0
161,GP,M,15,R,GT3,T,3,2,other,other,...,yes,4,4,1,4,3,6,5,9,7
162,GP,M,16,U,LE3,T,1,2,other,other,...,no,4,4,2,4,5,0,7,0,0
163,GP,M,17,U,GT3,T,1,3,at_home,services,...,no,5,3,1,4,2,2,10,10,10
164,GP,M,17,R,LE3,T,1,1,other,services,...,yes,5,3,1,5,5,0,5,8,7
165,GP,M,16,U,GT3,T,3,2,services,services,...,no,4,5,1,1,2,16,12,11,12
166,GP,M,16,U,GT3,T,2,2,other,other,...,no,4,3,2,4,4,4,10,10,10
167,GP,F,16,U,GT3,T,4,2,health,services,...,yes,4,2,1,1,3,0,14,15,16
168,GP,F,16,U,GT3,T,2,2,other,other,...,no,5,1,1,1,4,0,6,7,0
169,GP,F,16,U,GT3,T,4,4,health,health,...,yes,4,4,1,1,3,0,14,14,14
170,GP,M,16,U,GT3,T,3,4,other,other,...,no,3,4,2,4,2,0,6,5,0
171,GP,M,16,U,GT3,T,1,0,other,other,...,yes,4,3,1,1,3,2,13,15,16
172,GP,M,17,U,LE3,T,4,4,teacher,other,...,no,4,4,1,3,5,0,13,11,10
173,GP,F,16,U,GT3,T,1,3,at_home,services,...,yes,4,3,1,1,3,0,8,7,0
174,GP,F,16,U,LE3,T,3,3,other,other,...,no,4,4,1,1,4,4,10,11,9
175,GP,M,17,U,LE3,T,4,3,teacher,other,...,no,4,4,4,4,4,4,10,9,9
176,GP,F,16,U,GT3,T,2,2,services,other,...,no,3,4,1,4,5,2,13,13,11
177,GP,M,17,U,GT3,T,3,3,other,other,...,no,4,3,1,4,4,4,6,5,6
178,GP,M,16,R,GT3,T,4,2,teacher,services,...,yes,4,3,3,4,3,10,10,8,9
179,GP,M,17,U,GT3,T,4,3,other,other,...,yes,5,2,1,1,2,4,10,10,11
180,GP,M,16,U,GT3,T,4,3,teacher,other,...,no,3,4,2,3,3,10,9,8,8
181,GP,M,16,U,GT3,T,3,3,services,other,...,yes,4,2,1,2,3,2,12,13,12
182,GP,F,17,U,GT3,T,2,4,services,services,...,no,5,4,2,3,5,0,16,17,17
183,GP,F,17,U,LE3,T,3,3,other,other,...,yes,5,3,2,3,1,56,9,9,8
184,GP,F,16,U,GT3,T,3,2,other,other,...,no,1,2,1,2,1,14,12,13,12
185,GP,M,17,U,GT3,T,3,3,services,services,...,yes,4,3,2,3,4,12,12,12,11
186,GP,M,16,U,GT3,T,1,2,services,services,...,yes,3,3,1,2,3,2,11,12,11
187,GP,M,16,U,LE3,T,2,1,other,other,...,yes,4,2,1,2,5,0,15,15,15
188,GP,F,17,U,GT3,A,3,3,health,other,...,yes,3,3,1,3,3,6,8,7,9

4. Выведите каждое третье наблюдение со 84 по 121 строку (по всем столбцам)

In [50]:
# ваш код
data.iloc[84:121:3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
84,GP,F,15,U,GT3,T,1,1,other,other,...,no,4,3,2,3,4,2,9,10,10
87,GP,F,15,U,GT3,T,4,2,other,other,...,no,5,3,1,3,1,4,13,14,14
90,GP,F,16,U,GT3,T,3,3,other,other,...,yes,4,3,1,3,4,0,7,7,8
93,GP,F,16,U,GT3,T,4,2,teacher,services,...,no,5,3,1,1,1,0,11,10,10
96,GP,M,16,R,GT3,T,4,3,services,other,...,no,3,3,1,1,4,2,11,15,15
99,GP,F,16,U,GT3,T,4,3,other,at_home,...,no,5,3,1,1,3,0,7,9,8
102,GP,M,15,U,GT3,T,4,4,services,other,...,no,5,3,1,1,5,4,10,13,14
105,GP,F,15,U,GT3,A,3,3,other,health,...,no,4,3,1,1,4,10,10,11,11
108,GP,M,15,R,GT3,T,4,4,other,other,...,yes,1,3,3,5,1,6,10,13,13
111,GP,F,16,R,GT3,T,3,3,services,other,...,no,4,1,1,1,2,0,7,10,10
114,GP,M,15,R,GT3,T,2,1,health,services,...,yes,5,4,1,1,5,8,9,9,9
117,GP,M,16,U,GT3,T,3,3,other,services,...,no,5,4,1,1,5,0,13,14,13
120,GP,F,15,U,GT3,T,1,2,at_home,services,...,no,3,2,1,2,1,2,16,15,15

5. Выведите каждое четвёртое наблюдение с 21 по 43 строку по столбцу **`age`**

In [51]:
# ваш код
data.loc[21:43:4, 'age']

21    15
25    16
29    16
33    15
37    16
41    15
Name: age, dtype: int64

### Этап 3. Фильтрация

1. Выведите только парней

In [53]:
# ваш код
cond = data['sex']=='M'
data[cond]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
5,GP,M,16,U,LE3,T,4,3,services,other,...,no,5,4,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,no,4,4,1,1,3,0,12,12,11
8,GP,M,15,U,LE3,A,3,2,services,other,...,no,4,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,no,5,5,1,1,5,0,14,15,15
12,GP,M,15,U,LE3,T,4,4,health,services,...,no,4,3,1,3,5,2,14,14,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,5,5,4,5,4,11,9,9,9
391,MS,M,17,U,LE3,T,3,1,services,services,...,no,2,4,3,4,2,3,14,16,16
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,5,5,3,3,3,3,10,8,7
393,MS,M,18,R,LE3,T,3,2,services,other,...,no,4,4,3,4,5,0,11,12,10
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,no,3,2,3,3,5,5,8,9,9

2. Выведите только девушек в отношениях (колонка **`romantic`**)

In [55]:
# ваш код
cond1 = data['sex'] == 'F'
cond2 = data['romantic']=='yes'

data[cond1 & cond2]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
3,GP,F,15,U,GT3,T,4,2,health,services,...,yes,3,2,1,1,5,2,15,14,15
40,GP,F,16,U,LE3,T,2,2,other,other,...,yes,3,3,1,2,3,25,7,10,11
45,GP,F,15,U,LE3,A,4,3,other,other,...,yes,5,2,1,1,5,8,8,8,6
55,GP,F,16,U,GT3,A,2,1,other,other,...,yes,5,3,1,1,2,8,8,9,10
61,GP,F,16,U,GT3,T,1,1,services,services,...,yes,5,5,5,5,5,6,10,8,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,MS,F,19,U,LE3,T,3,2,services,services,...,yes,3,2,1,1,3,4,7,7,9
372,MS,F,17,U,GT3,T,2,2,other,at_home,...,yes,3,4,1,1,3,8,13,11,11
376,MS,F,20,U,GT3,T,4,2,health,other,...,yes,5,4,1,1,3,4,15,14,15
378,MS,F,18,U,GT3,T,3,3,other,other,...,yes,4,1,1,2,1,0,15,15,15
386,MS,F,18,R,GT3,T,4,4,teacher,at_home,...,yes,4,4,2,2,5,7,6,5,6

3. Выведите студентов меньше 16 лет (включительно), которые употребляют очень много алкоголя в неделю (колонка **`Walc`**, шкала от 0 до 5, где 1 - очень мало, 5 - очень много)

In [62]:
# ваш код
cond1 = data['Walc'] == 5
cond2 = data['age'] <= 16

data[cond1 & cond2]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
29,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,yes,4,4,5,5,5,16,10,12,11
61,GP,F,16,U,GT3,T,1,1,services,services,...,yes,5,5,5,5,5,6,10,8,11
66,GP,M,15,U,GT3,A,4,4,other,services,...,yes,1,3,5,5,3,4,13,13,12
89,GP,M,16,U,LE3,A,4,4,teacher,health,...,no,4,1,3,5,5,18,8,6,7
100,GP,M,16,U,GT3,T,4,4,services,services,...,no,4,5,5,5,4,14,7,7,5
108,GP,M,15,R,GT3,T,4,4,other,other,...,yes,1,3,3,5,1,6,10,13,13
129,GP,M,16,R,GT3,T,4,4,teacher,teacher,...,no,3,5,2,5,4,8,18,18,18
149,GP,M,15,U,LE3,A,2,1,services,other,...,no,4,5,2,5,5,0,8,9,10
151,GP,M,16,U,LE3,T,2,1,at_home,other,...,yes,4,4,3,5,5,6,12,13,14
197,GP,M,16,R,LE3,T,3,3,teacher,other,...,no,3,3,3,5,3,8,9,9,10
200,GP,F,16,U,GT3,T,4,3,health,other,...,no,4,3,1,5,2,2,16,16,16

4. Выведите студентов, у которых оба родителя имеют высшее образование (колонки **`Medu`** и **`Fedu`** соответственно, шкала от 0 до 4, где 4 - высшее образование), но которые сами не хотят получать высшее образование (колонка **`higher`**)

In [74]:
# ваш код
cond1 = data['Medu']==4
cond2 = data['Fedu']==4
cond3 = data['higher']=='no'
data[cond1 & cond2 & cond3]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
148,GP,M,16,U,GT3,T,4,4,teacher,teacher,...,yes,3,3,2,1,5,0,7,6,0

5. Выведите студентов, которые хотят получать высшее образование, но любая из их оценок (**`G1`**, **`G2`** или **`G3`**) меньше 10

In [81]:
data[
    (data['higher']=='yes') & 
    ((data['G1']<10) | (data['G2']<10) | (data['G3']<10))
     ]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,3,3,10,7,8,10
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,1,2,5,4,6,10,10
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,no,4,1,1,1,1,6,6,5,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
388,MS,F,18,U,LE3,T,3,1,teacher,services,...,no,4,3,1,1,1,0,7,9,8
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,5,0,6,5,0
390,MS,M,20,U,LE3,A,2,2,services,services,...,no,5,5,4,5,4,11,9,9,9
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,5,5,3,3,3,3,10,8,7
394,MS,M,19,U,LE3,T,1,1,other,at_home,...,no,3,2,3,3,5,5,8,9,9

### Этап 4. Сортировка

1. Отсортируйте данные по финальной оценке (**`G3`**)

In [82]:
# ваш код
data.sort_values('G3')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
367,MS,F,17,R,GT3,T,1,1,other,services,...,yes,5,2,1,2,1,0,7,6,0
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,5,0,6,5,0
264,GP,F,18,U,GT3,T,2,2,at_home,services,...,yes,4,3,1,1,3,0,9,10,0
259,GP,F,17,U,LE3,T,2,2,services,services,...,yes,3,4,1,1,2,0,10,9,0
269,GP,F,18,R,GT3,T,2,1,other,other,...,yes,4,3,1,2,3,0,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,no,3,5,1,1,3,10,18,19,19
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,no,5,5,1,1,4,6,18,19,19
374,MS,F,18,R,LE3,T,4,4,other,other,...,no,5,4,1,1,1,0,19,18,19
8,GP,M,15,U,LE3,A,3,2,services,other,...,no,4,2,1,1,1,0,16,18,19
47,GP,M,16,U,GT3,T,4,3,health,services,...,no,4,2,1,1,2,4,19,19,20

2. Отсортируйте данные по финальной оценке по убыванию

In [83]:
# ваш код
data.sort_values('G3', ascending=False)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
47,GP,M,16,U,GT3,T,4,3,health,services,...,no,4,2,1,1,2,4,19,19,20
286,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,no,4,3,1,2,2,5,18,18,19
374,MS,F,18,R,LE3,T,4,4,other,other,...,no,5,4,1,1,1,0,19,18,19
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,no,5,5,1,1,4,6,18,19,19
8,GP,M,15,U,LE3,A,3,2,services,other,...,no,4,2,1,1,1,0,16,18,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341,GP,M,18,U,GT3,T,4,4,teacher,services,...,no,4,3,2,2,2,0,10,10,0
343,GP,F,17,U,GT3,A,2,2,at_home,at_home,...,yes,3,3,1,2,4,0,9,8,0
367,MS,F,17,R,GT3,T,1,1,other,services,...,yes,5,2,1,2,1,0,7,6,0
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,5,0,6,5,0
387,MS,F,19,R,GT3,T,2,3,services,other,...,no,5,4,1,2,5,0,7,5,0

3. Отсортируйте данные сперва по финальной оценке (по убыванию), потом по частоте употребления алкоголя в неделю (по убыванию)

In [85]:
# ваш код
data.sort_values(by = ['G3', 'Walc'], ascending = [False, False])

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
47,GP,M,16,U,GT3,T,4,3,health,services,...,no,4,2,1,1,2,4,19,19,20
286,GP,F,18,U,GT3,T,2,2,at_home,at_home,...,no,4,3,1,2,2,5,18,18,19
8,GP,M,15,U,LE3,A,3,2,services,other,...,no,4,2,1,1,1,0,16,18,19
110,GP,M,15,U,LE3,A,4,4,teacher,teacher,...,no,5,5,1,1,4,6,18,19,19
113,GP,M,15,U,LE3,T,4,2,teacher,other,...,no,3,5,1,1,3,10,18,19,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,GP,F,18,U,GT3,T,2,2,at_home,services,...,yes,4,3,1,1,3,0,9,10,0
332,GP,F,18,U,GT3,T,3,3,services,services,...,no,5,3,1,1,4,0,7,0,0
333,GP,F,18,U,LE3,T,2,2,other,other,...,yes,4,3,1,1,2,0,8,8,0
334,GP,F,18,R,GT3,T,2,2,at_home,other,...,no,4,4,1,1,4,0,10,9,0
389,MS,F,18,U,GT3,T,1,1,other,other,...,no,1,1,1,1,5,0,6,5,0

4. Удалите дубликаты по переменной `age`

In [86]:
# ваш код
data.drop_duplicates('age')

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,no,4,3,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,no,5,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,no,4,3,2,3,3,10,7,8,10
4,GP,F,16,U,GT3,T,3,3,other,other,...,no,4,3,1,2,5,4,6,10,10
127,GP,F,19,U,GT3,T,0,1,at_home,other,...,no,3,4,1,1,5,2,7,8,9
247,GP,M,22,U,GT3,T,3,1,services,services,...,yes,5,4,5,5,1,16,6,8,8
306,GP,M,20,U,GT3,A,3,2,services,other,...,no,5,5,1,1,5,0,17,18,18
392,MS,M,21,R,GT3,T,1,1,other,other,...,no,5,5,3,3,3,3,10,8,7